// Spinner Variables
//********************************************************//
$loading_spinner_color:      $green;
$loading_spinner_size:       30px;
$loading_spinner_speed:      0.75s;
$loading_spinner_thickness:  8px; // Odd numbers created a "wobble" effect.

// Animation Keyframes
//********************************************************//
@keyframes rotate-forever {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}


// The Loading SpinnerT
//********************************************************//
.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -$loading_spinner_size;
	margin-top: -$loading_spinner_size;
	animation-duration: $loading_spinner_speed;
	animation-iteration-count: infinite;
	animation-name: rotate-forever;
	animation-timing-function: linear;
	width: $loading_spinner_size;
	height: $loading_spinner_size;
	border: $loading_spinner_thickness solid $loading_spinner_color;
	border-right-color: transparent;
	border-radius: 50%;
	display: inline-block;
}
